<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À propos</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Lien vers le fichier CSS -->
    
      
    
</head>
<body>
    <%- include('navbar') %> <!-- Inclusion de la barre de navigation -->
    <% if (user) { %>
        <p>Bienvenue, <strong><%= user.prenom %> <%= user.nom %></strong> !</p>
     <% } else { %>
         //<p>Vous n'êtes pas connecté.</p>
    <% } %>
    <h1>À propos de notre équipe</h1>
    <div class="team-container">
        <% equipe.forEach(membre => { %>
            <div class="team-card">
                <img src="/images/<%= membre.nom.replace(/\s+/g, '_').toLowerCase() %>.jpg" alt="<%= membre.nom %>" class="team-image">
                <h3><%= membre.nom %></h3>
                <p><strong>Rôle:</strong> <%= membre.role %></p>
            </div>
        <% }) %>
    </div>
    
    <%- include('footer') %> <!-- Inclusion du pied de page -->
</body>
</html>